rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /questionCustomCategories/{documentId=**} {
      allow read: if true;
    }
    
    match /questionSets/{documentId=**} {
      allow read: if true;
    }
    
    match /messages/{messageId} {
      	allow create: if true;
    }
  }
}